<header class="hero">
    <div class="hero__wave"></div>
    <section class="hero__main container">
      <img src="images/illustration-intro.png" class="hero__img">

      <h1 class="hero__title">All your files in one secure location, accessible anywhere.</h1>
      <p class="hero__paragraph">Fylo stores all your most important files in one secure location. Access them wherever 
        you need, share and collaborate with friends family, and co-workers.</p>
        <a href="#" class="hero__cta">  
          Get Started
        </a>
    </section>

  </header>

  <main class="main">
    <section class="about container">

      <article class="about__item">
        <figure class="about__picture">
          <img src="images/icon-any-file.svg" class="about__img">
        </figure>

        <h3 class="about__title"> Access your files, anywhere</h3>

        <p class="about__paragraph"> The ability to use a smartphone, tablet, or computer to access your account means your 
          files follow you everywhere.</p>
      </article>

      <article class="about__item">
        <figure class="about__picture">
          <img src="images/icon-security.svg" class="about__img">
        </figure>

        <h3 class="about__title">  Security you can trust
        </h3>

        <p class="about__paragraph"> 2-factor authentication and user-controlled encryption are just a couple of the security 
          features we allow to help secure your files.
        </p>
      </article>

      

 
      <article class="about__item">
        <figure class="about__picture">
          <img src="images/icon-collaboration.svg" class="about__img">
        </figure>

        <h3 class="about__title">Real-time collaboration</h3>

        <p class="about__paragraph">
          Securely share files and folders with friends, family and colleagues for live collaboration. 
          No email attachments required.</p>
      </article>

      <article class="about__item">
        <figure class="about__picture">
          <img src="images/icon-any-file.svg" class="about__img">
        </figure>

        <h3 class="about__title">  Store any type of file</h3>

        <p class="about__paragraph">  Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all 
          file types to be securely stored and shared.</p>
      </article>

    </section>

    <section class="productive container">

      <figure class="productive__picture">
        <img src="images/illustration-stay-productive.png" class="productive__img">
      </figure>

      <div class="productive__texts">

        <h3 class="productive__title"> Stay productive, wherever you are</h3>

        <p class="productive__paragraph"> Never let location be an issue when accessing your files. Fylo has you covered for all of your file 
          storage needs.</p>

        <p class="productive__paragraph">Securely share files and folders with friends, family and colleagues for live collaboration. No email 
          attachments required.</p>

        <a href="#" class="productive__cta">  
          See how Fylo works
          <img src="images/icon-arrow.svg" class="productive__arrow">
        </a>

      </div>
    </section>

    <section class="card container">

      <article class="card__item card__item--first">
        <p class="card__paragraph"> Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="images/profile-1.jpg"  class="card__img">
          </figure>
          
          <div class="card__info">
            <h3 class="card__name">STIWIWIX</h3>
            <p class="card__job">Fundador & CEO, HAMSA</p>
          </div>
        </div>
      </article>

      <article class="card__item ">
        <p class="card__paragraph"> Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="images/profile-2.jpg"  class="card__img">
          </figure>
          
          <div class="card__info">
            <h3 class="card__name">Toni Castigo</h3>
            <p class="card__job">Fundador & CEO, HAMSA</p>
          </div>
        </div>
      </article>

      <article class="card__item ">
        <p class="card__paragraph"> Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has 
          become a well-oiled collaboration machine.</p>

        <div class="card__profile">
          <figure class="card__picture">
            <img src="images/profile-3.jpg"  class="card__img">
          </figure>
          
          <div class="card__info">
            <h3 class="card__name">Marcia Cubillos</h3>
            <p class="card__job">Fundador & CEO, HAMSA</p>
          </div>
        </div>
      </article>


    </section>

    <section class="join">
      <div class="join__container container">
        <h3 class="join__title">  Accede hoy para obtener nuestro contenido más reciente
        </h3>
        <p class="join__paragraph"> Puedes dejarnos tu correo electronico para que estés al tanto de nuestras promociones y servicios al instante.</p>

        <form class="join__form">
          <input type="text" placeholder="email@example.com" class="join__input join__input--text">
          <input type="submit" value="Enviar" class="join__input join__input--submit">
        </form>
      </div>
    </section>
  </main>