<footer class="footer ">
    <section class="footer__container container">
      <img src="images/logo.svg" class="footer__logo">

      <div class="footer__items">
        <p class="footer__contact footer__contact--first">
          <img src="images/icon-location.svg" class="footer__icon">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quidem aperiam quibusdam, veritatis explicabo similique.
        </p>
  
  
        <div class="footer__content">
          
          <p class="footer__contact footer__contact--second">
            <img src="images/icon-phone.svg" class="footer__icon">
            +1-543-123-4567
          </p>
  
          <div class="footer__location">
            <p class="footer__contact">
              <img src="images/icon-email.svg" class="footer__icon">
              example@fylo.com
            </p>
          </div>
  
        </div>
  
        <nav class="footer__nav">
          <a href="#" class="footer__link">About Us</a>
          <a href="#" class="footer__link">Jobs</a>
          <a href="#" class="footer__link">Press</a>
          <a href="#" class="footer__link">Blog</a>
        </nav>
  
        <nav class="footer__nav">
          <a href="#" class="footer__link">Contact Us</a>
          <a href="#" class="footer__link">Terms</a>
          <a href="#" class="footer__link">Privacy</a>
        </nav>
  
        <div class="footer__social">
          <a href="#" class="footer__media"><img src="images/fb.svg" class="footer__img"></a>
          <a href="#" class="footer__media"><img src="images/twitter.svg" class="footer__img"></a>
          <a href="#" class="footer__media footer__media--last"><img src="images/instagram.svg" class="footer__img"></a>
        </div>
      </div> 
    </section>
  </footer>